@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

.App {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
.dark-mode {
  justify-content: right;
  align-items: right;
  text-align: right;
  padding: 10px;
  opacity: 0.8;
}

